<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="scotchTodo">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Node/Angular CreateUser App</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
    </style>

	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
	<script src="core.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body ng-controller="mainController">
<div class="container">

	<!-- FORM TO CREATE TODOS -->
	<div id="todo-form" class="row">
		<div class="col-sm-8 col-sm-offset-2 text-center">
			<form>
				<div class="form-group">

					<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
					<input type="text" class="form-control input-lg text-center" placeholder="Enter orchad name like 'od-fkd53hvq5.od16'" ng-model="fomdata">
				</div>
				<br>

<p><b>Select Role:
					<select name ng-model="selectedRole">
						<option value="BILLING_ADMIN">BillingAdmin</option>
						<option value="SYS_ADMIN">SystemAdmin</option>
						<option value="USER">User</option>
						<option value="DEVELOPER">Developer</option>
					</select>
</b></p>
				<br>





				<!-- createToDo() WILL CREATE NEW TODOS -->
				<button type="submit" class="btn btn-primary btn-lg" ng-click="createUser()">Create User</button>
				<a><label > Macha play with the user  <p color="red">{{ user }}</p></label></a>
			</form>
		</div>
	</div>

</div>

</body>
</html>

